

@media (min-width: 576px){
    .vis_box{
        margin-bottom: 250px;
    }
}


.vis_border {
    border-width:3px !important;
}


.main_background{
    background-color: black;
}

.main_background2{
    background-color: rgb(165, 164, 164);
}

.row_background{
    background-color: white;
}

.subtitle_color{
    color:teal
}

.home_description_title {
    color: gainsboro;
}

.home_description {
    color: lightgray
} 

.home_imagetag {
    font-size: 5px;
    color: gray;
}

.navbar-dark .navbar-brand {
    color: yellowgreen;
}

.data_description_title {
    color: black;
}

.table-condensed{
    font-size: small ;
}

